/*importar fuente externa para el texto*/
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");

/*Fuente por defecto de toda la web y color de fondo*/
body {
  font-family: "Inconsolata", monospace;
  background-color: #eeeeee;
}

/*Cabecera de la web edicion del Titulo y el fondo del mismo*/
div.cabeza {
  text-shadow: 2px 2px white;
  padding: 5px 5px 5px 25px;
  margin: -8px -8px 10px -8px;
  background: rgba(81, 152, 59, 1);
  background: -moz-linear-gradient(
    top,
    rgba(81, 152, 59, 1) 0%,
    rgba(118, 215, 88, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(81, 152, 59, 1)),
    color-stop(100%, rgba(118, 215, 88, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(81, 152, 59, 1) 0%,
    rgba(118, 215, 88, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(81, 152, 59, 1) 0%,
    rgba(118, 215, 88, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(81, 152, 59, 1) 0%,
    rgba(118, 215, 88, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(81, 152, 59, 1) 0%,
    rgba(118, 215, 88, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#51983b', endColorstr='#76d758', GradientType=0 );
}

/*estilo del cuerpo de la web
engloba todo el contenido*/
div.cuerpo {
  margin: 10px 200px 10px 200px;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 10px double #356e2e;
}

div.subtitulo {
}

div.menu {
}

a.boton {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 5px outset #356e2e;
}

a.boton:hover {
  color: #1883ba;
  background-color: #eeeeee;
}
